
.bb .middle-img{
  position: fixed;
  left: -100px;
 top: -100px;
   width: 60%;
   height: 100%;
   background-size: contain;
   background-position: bottom right;
   background-repeat: no-repeat;
  mix-blend-mode:color-dodge;
  pointer-events: none;
  z-index: 1;
  opacity: 0.3;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    margin-top: 10%; 
    position: relative;
    z-index: 2;
    background-size: contain;
  }
  
  .contact form {
    max-width: 600px;
    width: 100%;
    background: #131d2e; 
    padding: 25px 25px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #fff; 
  }
  
  .contact form h2 {
    font-size: 30px;
    text-align: center;
    color: #d1e0ff;
  }
  
  .contact form .input-box {
    margin-top: 20px;
  }
  
  .contact form .input-box .field {
    width: 100%;
    height: 50px;
    background: #24344e; 
    border: 2px solid #3e5b7f; 
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #d1e0ff; 
    margin-top: 8px;
    transition: border-color 0.3s ease;
  }
  
  .contact form .input-box .field:focus {
    border-color: #61dafb; 
  }
  
  .contact form .input-box .field.mess {
    height: 150px;
    resize: none;
  }
  
  .contact form button {
    width: 100%;
    height: 55px;
    background: #007bff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  .contact form button:hover {
    background: #0056d6;
    box-shadow: 0 0 15px rgba(0, 86, 214, 0.8);
  }

  @media (min-width: 1024px) and (max-width: 1640px){
   
    
    .contact form {
      max-width: 550px;
   padding: 20px 20px 30px;
 }
    
    .contact form h2 {
      font-size: 23px;
    }
    
    .contact form .input-box {
      margin-top: 10px;
    }
    
    .contact form .input-box .field {
  font-size: 14px;
    }
    
 
    .contact form .input-box .field.mess {
      height: 130px;
      resize: none;
    }
    
    .contact form button {
    height: 50px;
  font-size: 16px;
     }
    
   
  
  }
 
  @media (min-width: 200px) and (max-width:900px){
    .contact {
      width: 100%;
    
      }
   
      .contact form {
        width: 100%;
       background-color: transparent;
       
      }
      .bb .middle-img{
        position: fixed;
        left: 0px;
       top: 0px;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-position: bottom right;
         background-repeat: no-repeat;
        mix-blend-mode:color-dodge;
        pointer-events: none;
        z-index: 1;
        opacity: 0.3;
      }
      
  }