.main-sec {
  width: 100%;
  height: 100%;
  display: flex;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
  url('/src/assets/header-banner.jpg') center/cover no-repeat fixed; */
  /* background:linear-gradient(to right ,rgb(8, 8, 8),#1f1e1e, black,rgb(39, 38, 38));
background:linear-gradient(to right ,rgb(8, 8, 8),#1f1e1e, black,rgb(39, 38, 38)); */
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 24px;
  z-index: 200;
  margin-top: 20px;




}

.social-icons div {
  background-color: transparent;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #1E90FF;
  box-shadow: 0 4px 8px rgba(0, 81, 255, 0.6);
  cursor: pointer;
}

.main-sec .text {
  width: 50%;
  height: 100%;
  align-items: center;
  text-align: left;
  padding: 20px;
}

.main-sec .image {
  width: 50%;

}

.text-section {
  margin-left: 18%;
  margin-top: 19%;

  /* opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards; */

}

/* @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
.typewrite {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffffff;
  display: inline-block;
  min-Height: 40px;
  margin-Top: 15px;
  color: #1E90FF;

  text-transform: uppercase;
  /* Text shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(30, 144, 255, 0.7);
}

.text h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #b0b0b0;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.7);


}

.text h3 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 23px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.7);
  font-weight: 600;
}

.text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #e0e0e0;
  margin-top: 1rem;
  word-spacing: 0.2rem;
  text-align: left;
}

.software {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
}

.software .software_item {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(7, 44, 255, 0.1);
}

.cv button {
  width: 200px;
  min-width: 190px;
  height: 100%;
  min-height: 100%;
  margin: 50px 70px 0px 0px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e53ff;
  box-shadow: 0 0 .8rem #234dd8;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #007bff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

.cv button:hover {
  background-color: #2082c4;
  color: #fff;
  transition: 0.8s;
  cursor: pointer;
}

/* .img-container{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}
.img-container img{
  width: 100%;
  height: 100vh;
  margin-left: 100px;
}
 */
.img-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 100px;

}

.img-container img {
  position: relative;
  z-index: 10;
  width: auto;
  height: 100vh;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: linear-gradient(135deg, #0a80f7, #0a33ee);
  border-radius: 50%;
  z-index: 1;
  animation: blobMoveDown 2s ease-out forwards, blobAnimation 5s infinite;

}

@keyframes blobMoveDown {
  0% {
    top: -50%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}


@keyframes blobAnimation {
  0% {
    border-radius: 50% 50% 40% 60%;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    border-radius: 60% 40% 50% 50%;
    transform: translate(-50%, -50%) scale(1.15);
  }

  100% {
    border-radius: 50% 50% 60% 40%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  margin: 150px;
  border-radius: 50%;
  padding: 5px;
  display: none;
  overflow: hidden;
}

.img-box::before,
.img-box::after {
  content: '';
  position: absolute;
  width: 550px;
  height: 550px;
  background: conic-gradient(transparent, transparent, transparent, #1E90FF);
  top: 0.1px;
  left: -1px;
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.img-box .img-item {
  width: 100%;
  height: 100%;
  background: #0e1117;
  border-radius: 50%;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  border: .1px solid #0e1117;
}

.img-box img {
  position: relative;
  display: block;
  width: 70%;
  object-fit: cover;
  transform: translate(20%, -10%);
  mix-blend-mode: lighten;
}



/*lapop*/
@media (min-width: 1024px) and (max-width: 1640px) {
  .main-sec {
    width: 100%;
    height: 100vh;
  }

  .social-icons {
    right: 10px;
    gap: 20px;
    
    }

  .social-icons div {
 padding: 3px;
 font-size: 8px;
}

  .text p {
    color: #e0e0e0;
    padding: 5px 0 1px 0;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      0 0 10px rgba(255, 255, 255, 0.3);
    font-size: 13px;
    text-align: left;
  }

  .text-section {
    margin: 60px 60px 10px 60px;


  }

  .cv button {
    width: 200px;
    height: auto;
    font-size: 12px;

  }

  .typewrite {
    display: inline-block;
    min-Height: 20px;
    margin-Top: 8px;

    font-size: 25px;
  }

  .text h1 {
    font-size: 16px;
  }

  .text h3 {
    font-size: 18px;
  }
  .blob {

    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
 }
}


/*tab*/
@media (min-width: 790px) and (max-width: 1024px) {
  .main-sec {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('/src/assets/blackandwight.jpeg') center/cover no-repeat fixed; */
  }

  .main-sec .text {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    order: 2;
  }


  .img-container {
    display: none;
    order: 1;
  }

  .main-sec .image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;


  }

  .img-box {
    position: relative;
    display: flex;
    order: 2;
    position: relative;
    width: 300px;
    height: auto;
    margin: 40px 10px 10px 200px;

  }
  .text-section {
    margin: 70px 10px 10px 10px;
    height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text p {
 font-weight: 300;
   font-size: 16px;
  text-align: center;
  }
  .software {
 justify-content: center;
 align-items: center;
  }
  
  .software .software_item {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 44, 255, 0.1);
  }
.cv{
  justify-content: center;
  align-items: center;
}
  .cv button {
    width: 260px;
    height: auto;
    margin: 90px 40px 10px 10px;
  }
  .social-icons {
    gap: 20px;
    display: grid;
  }

  .social-icons div {
  font-size: 30px;
    padding: 1px;
   margin: 1px;
    border: none;
  }

}

@media (min-width: 700px) and (max-width: 800px) {
  .main-sec {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(135deg, #020c1d, #1d1c1c); */
  }

  .img-container {
    display: none;
  }

  .main-sec .image {
    width: 100%;
    height: 100%;
    padding: 0;


  }

  .img-box {
    position: relative;
    display: flex;
    order: 2;
    position: relative;
    width: 300px;
    height: auto;
    margin: 10px 10px 10px 200px;

    order: 1;
  }

  .img-box .img-item {
    width: 100%;
    height: 100%;
    background:
      #050d1c;
    border-radius: 50%;

  }

  .main-sec .text {
    width: 100%;
    height: 100%;
    padding: 5px;
    order: 1;


  }

  .text-section {
    margin: 10px;
    padding: 50px;

  }

  .social-icons {
    gap: 10px;
    display: grid;
  }

  .social-icons div {

    padding: 1px;

    margin: 1px;
    border: none;
  }

}


@media (min-width: 200px) and (max-width:700px) {


  .main-sec {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #020c1d, #1d1c1c);
    /* background: linear-gradient(rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)), url('/src/assets/blackandwight.jpeg') center/cover no-repeat fixed; */
    overflow-y: auto;

  }

  .main-sec .text {
    width: 100%;
    height: 100vh;
    padding: 5px;
    order: 2;

  }

  .main-sec .image {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

  }

  /* frame rgb image*/
  .img-box {
    display: flex;
    order: 1;
    position: relative;
    width: 190px;
    height: 100%;
    margin: 40px 100px 10px 60px;
    padding: 5px;
  }

  .img-box .img-item {
    width: 100%;
    height: 100%;
    background: #0d121c;
    border-radius: 50%;

  }

  .img-box img {
    position: relative;
    display: block;
    width: 70%;
    object-fit: cover;
    transform: translate(20%, 0%);
    mix-blend-mode: lighten;
  }

  .img-container {
    display: none;
  }


  .social-icons {
    position: absolute;
    top: 3px;
    right: 5px;
    display: grid;
    gap: 10px;
    z-index: 2;
    margin-top: 5px;
    padding: 5px;
  }

  .social-icons div {
    font-size: 8px;
    padding: 1px;
    border: none;
    margin-top: 10px;

  }

  .text-section {
    margin: 10px 20px 10px 20px;
  }

  .cv {
    flex-wrap: wrap;
    margin-top: 30px;

  }

  .cv button {
    width: 100%;
    margin: 20px 15px 20px 15px;
    padding: 5px;
    font-size: 12px;
  }

  .typewrite {
    display: inline-block;
    min-Height: 20px;
    margin-Top: 10px;

    font-size: 23px;
  }

  .text h1 {
    font-size: 14px;
  }

  .text h3 {
    font-size: 16px;
  }

  .text p {
    color: #e0e0e0;
    padding: 10px 0 1px 0;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      0 0 10px rgba(255, 255, 255, 0.3);
    font-size: 12px;
    margin: 0;
  }

  .software {

    gap: 10px;
    margin-top: 20px;
  }
}