.main-sec {
  width: 100%;
  height: 100%;
  display: flex;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
  url('/src/assets/header-banner.jpg') center/cover no-repeat fixed; */
  /* background:linear-gradient(to right ,rgb(8, 8, 8),#1f1e1e, black,rgb(39, 38, 38));
background:linear-gradient(to right ,rgb(8, 8, 8),#1f1e1e, black,rgb(39, 38, 38)); */
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

}

.social-icons {
  position: fixed;
 
  right: 0;
  float: right;
  display: flex;
  gap: 24px;
  z-index: 200;
  margin:10px;


}

.social-icons .so {
  font-size: 24px;

}

.social-icons div {
  justify-content: center;
  background-color: transparent;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 81, 255, 0.6);
  cursor: pointer;
}

.top-right-image {
  position: fixed;
  right: 0px;
  top: 0;
  max-width: 500px;
  height: auto;
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  pointer-events: none;

}

.logo {
  width: 100%;
  height: auto;
}

.logo img {
  width: 120px;
  height: 80px;
  position: fixed;
  margin-left: 180px;
  margin-top: 20px;
}


.main-sec .text {
  width: 50%;
  height: 100%;
  align-items: center;
  text-align: left;
  padding: 20px;
}

.main-sec .image {
  width: 50%;

}

.text-section {
  margin-left: 18%;
  margin-top: 22%;



  /* opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards; */

}

/* @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
.typewrite {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffffff;
  display: inline-block;
  min-Height: 40px;
  margin-Top: 15px;
  color: #1E90FF;

  text-transform: uppercase;
  /* Text shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(30, 144, 255, 0.7);
}

.text h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #b0b0b0;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.7);


}

.text h3 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 23px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.7);
  font-weight: 600;
}

.text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #e0e0e0;
  margin-top: 1rem;
  word-spacing: 0.2rem;
  text-align: left;
}

.software {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
}

.software .software_item {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(7, 44, 255, 0.1);
}

.cv {
  z-index: 10;
}

.cv button {
  width: 200px;
  min-width: 190px;
  height: 100%;
  min-height: 100%;
  margin: 50px 70px 0px 0px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e53ff;
  box-shadow: 0 0 .8rem #234dd8;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #007bff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;

}

.cv button:hover {
  background-color: #2082c4;
  color: #fff;
  transition: 0.8s;
  cursor: pointer;
}

/* .img-container{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}
.img-container img{
  width: 100%;
  height: 100vh;
  margin-left: 100px;
}
 */
/* .img-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 100px;

}

.img-container img {
  position: relative;
  z-index: 10;
  width: auto;
  height: 100vh;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.6)) ;
} */
.img-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 100px;
}

.main-image {
  position: relative;
  z-index: 2;
  width: auto;
  height: 100vh;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.ring-animation {
  position: absolute;
  /* Keep ring on top of the other image */
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 600px;

  height: 600px;

  animation: rotateRing 20s ease-in-out infinite; /* Eased animation for smoother transitions */
  mix-blend-mode: color-dodge;

  /* Apply the rotation animation */
}

/* Keyframes for rotating the ring */
@keyframes rotateRing {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Initial position */
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg); /* Halfway point */
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Full rotation */
  }
}

/* Optional animation for the main image */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* @keyframes blobMoveDown {
  0% {
    top: -50%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}


@keyframes blobAnimation {
  0% {
    border-radius: 50% 50% 40% 60%;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    border-radius: 60% 40% 50% 50%;
    transform: translate(-50%, -50%) scale(1.15);
  }

  100% {
    border-radius: 50% 50% 60% 40%;
    transform: translate(-50%, -50%) scale(1);
  }
} */

.img-box {
  position: relative;
  width: 31vw;
  height: 31vw;
  /* margin: 150px; */
  margin-left: 25%;
  margin-top: 17%;
  border-radius: 50%;
  padding: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

.img-box::before,
.img-box::after {
  content: '';
  position: absolute;
  width: 540px;
  height: 540px;
  background: conic-gradient(transparent, transparent, transparent, #1E90FF);
  top: 0.1px;
  left: -1px;
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}


.img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #18263d; */
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  border: .1px solid #18263d;
  z-index: 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);


}

.img-box img {
  top: 10px;
  position: relative;
  display: block;
  width: 80%;
  object-fit: contain;
  transform: translateX(0%, 1%);
  mix-blend-mode: lighten;
  transform: translate(11%, 2%);
  mix-blend-mode: lighten;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);

}

@media (min-width: 1200px) and (max-width:1500px) {
  .social-icons {
    top: 2px;
    right: 10px;
    gap: 20px;
    margin-top: 10px;
  }

  .social-icons .so {
    font-size: 20px;
  }

  .main-sec .text {
    padding: 10px;

  }

  .text-section {
    margin-left: 8%;
    margin-top: 25%;
  }

  .typewrite {
    font-size: 2rem;
    min-Height: 20px;
    margin-Top: 8px;
  }

  .text h1 {
    font-size: 1rem;
  }

  .text h3 {
    font-size: 22px;
  }

  .text p {
    font-size: 13px;
    margin-top: 1rem;
  }

  .software {
    margin-top: 20px;
  }

  .cv button {
    width: 150px;
    height: 100%;
    min-height: 100%;
    margin: 50px 50px 0px 0px;
    padding: 0.65rem 1.1rem;
    font-size: 12px;
  }

  .img-container {
    margin-left: 5%;
  }

  .blob {
    width: 320px;
    height: 320px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

}

/*lapop*/

@media (min-width: 993px) and (max-width: 1200px) {

  .logo img {
    width: 100px;
    height: 70px;
    position: fixed;
    margin-left: 60px;
    margin-top: 5px;
  }
  
  .social-icons {
    top: 2px;
    right: 10px;
    gap: 20px;
    margin-top: 10px;
  }

  .social-icons .so {
    font-size: 20px;
  }

  .main-sec .text {
    padding: 10px;
  }

  .text-section {
    margin-left: 8%;
    margin-top: 20%;

  }

  .typewrite {
    font-size: 1.8rem;
    min-Height: 20px;
    margin-Top: 8px;
  }

  .text h1 {
    font-size: 0.8rem;
  }

  .text h3 {
    font-size: 18px;
  }

  .text p {
    font-size: 11px;
    margin-top: 1rem;
  }

  .software {
    margin-top: 22px;
  }

  .cv button {
    width: 170px;
    min-width: 150px;
    height: 100%;
    min-height: 100%;
    margin: 50px 50px 0px 0px;
    padding: 0.65rem 1.5rem;

  }

  .img-container {
    margin-left: 5%;
  }
  
.ring-animation {
  position: absolute;
  
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 400px;
height: 400px;
}
  .blob {
    width: 350px;
    height: 350px;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .main-sec {
    display: grid;
 }
 .logo img {
  width: 120px;
  height: 80px;
  position: relative;
  margin-left: 20px;
  margin-top: 5px;
}


  .social-icons {
    padding: 0;
    margin: 0;
    gap: 20px;
    position: fixed;
    right: 0;
    margin: 10px;
    top: 0;

  }

  .social-icons>div {

    border: none;
  }

  .social-icons .so {
    font-size: 28px;
  }

  .main-sec .text {
    width: 100%;

    padding: 0px;
    order: 2;
  }

  .main-sec .image {
    width: 100%;
    order: 1;

  }

  .text-section {
    margin-left: 2%;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5%;
  }


  .typewrite {
    font-size: 1.9rem;
  }

  .text h1 {
    font-size: 1.2rem;
  }

  .text h3 {
    font-size: 23px;
  }

  .text p {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 2px 12px;
    width: 100%;
    padding-right: 5px;
  }

  .software {

    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 30px;
  }

  .software .software_item {
    height: 43px;
    width: 43px;

  }

  .cv {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .cv button {
    width: 70%;
    margin: 20px 10px 10px 10px;
  }

  .img-container {

    width: 100%;
    height: 100vh;
    display: none;

  }

  .img-box {
    position: relative;
    width: 37vw;
    height: 37vw;
    margin-left: 26%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 50%;
    padding: 6px;
    overflow: hidden;
    display: block;
  }

  .img-box .img-item {
    background: #080f1a;
  }


}

@media (min-width: 576px) and (max-width: 768px) {
  .main-sec {
    display: grid;
  }

  .logo img {
    width: 100px;
    height: 70px;
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
  }

  .social-icons {
    padding: 0;
    margin: 10px;
    gap: 18px;
    display: flex;
    position: fixed;
    right: 0;

  }

  .social-icons>div {

    border: none;
  }

  .social-icons .so {
    font-size: 20px;
  }

  .main-sec .text {
    width: 100%;

    padding: 0px;
    order: 2;
  }

  .main-sec .image {
    width: 100%;
    order: 1;

  }

  .text-section {
    margin-left: 2%;
    margin-top: 7%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;

  }


  .typewrite {
    font-size: 1.8rem;
    margin-top: 5px;
  }

  .text h1 {
    font-size: 1rem;
  }

  .text h3 {
    font-size: 18px;
  }

  .text p {
    text-align: center;
    font-size: 15px;
    margin: 2px 10px 2px 10px;
    width: 100%;
    padding-right: 5px;
  }

  .software {

    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
  }

  .software .software_item {
    height: 38px;
    width: 38px;

  }

  .cv {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .cv button {
    width: 70%;
    margin: 20px 10px 10px 10px;
  }

  .img-container {

    width: 100%;
    height: 100vh;
    display: none;

  }

  .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    display: block;
  }

  .img-box .img-item {
    background: #080f1a;
  }

}

@media (max-width:576px) {
  .main-sec {
    display: grid;

  }

  .logo img {
    width: 70px;
    height: 50px;
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
  }

  .social-icons {
    padding: 0;
    margin: 2px 2px 2px 2px;
    gap: 18px;
    top: 0;
    right: 0;
    display: grid;
    position: fixed;
  }

  .social-icons>div {

    border: none;
  }

  .social-icons .so {
    font-size: 16px;
  }

  .main-sec .text {
    width: 100%;

    padding: 0px;
    order: 2;
  }

  .main-sec .image {
    width: 100%;
    order: 1;

  }

  .text-section {
    margin-left: 2%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;

  }


  .typewrite {
    font-size: 1.6rem;
    margin-top: 5px;
  }

  .text h1 {
    font-size: 0.9rem;
  }

  .text h3 {
    font-size: 16px;
  }

  .text p {
    text-align: center;
    font-size: 12px;
    margin: 2px 10px 2px 2px;
    width: 100%;
    padding-right: 5px;
  }

  .software {

    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 30px;
  }

  .software .software_item {
    height: 33px;
    width: 33px;

  }

  .cv {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .cv button {
    width: 70%;
    margin: 20px 10px 10px 10px;
    padding: 10px;
  }

  .img-container {

    width: 100%;
    height: 100vh;
    display: none;

  }

  .img-box {
    position: relative;
    width: 50vw;
    height: 50vw;
    margin-left: 23%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 50%;
    padding: 3px;
    overflow: hidden;
    display: block;
  }

  .img-box .img-item {
    background: #080f1a;
    border: none;
  }


}