.services-feedback {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px;

}

.top-left-image {
  position: fixed;
  left: 0px;
  top: 0;
  max-width: 600px;
  height: auto;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  mix-blend-mode: exclusion;
  z-index: 0;
  pointer-events: none;

}

.services-feedback>div {
  margin: 5px;
}

.services-feedback .model .heading {
  margin: 20px 10px 40px 10px;
}

.services-feedback .model {
  width: 70%;
  height: 100%;
  padding: 20px;
  /* border: 2px solid rgba(153, 150, 150, 0.1); */
  border-radius: 20px;
}

.services-feedback .feedback {
  width: 30%;
  height: 100%;
  position: relative;
  border: 1px solid gray;
  border-radius: 20px;
  border: 2px solid rgba(153, 150, 150, 0.1);
  background: transparent;
  overflow: auto;
}

.services-feedback .model .heading h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #1370fa;
  text-transform: uppercase;


}

.services-feedback .model .heading h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 37px;
  line-height: 1;

}

.services-feedback .model .heading p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #b0b0b0;
  margin-top: 30px;
  word-spacing: 2px;


}

.boxes-serv {
  width: 100%;
  height: auto;
  padding: 8px;
  display: grid;

}

.boxes-serv .row {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.boxes-serv .row .boxs {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 12px;
  background: #191d2b;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.boxes-serv .row .boxs i {
  font-size: 30px;
  color: #1370fa;
}

.boxes-serv .row .boxs h2 {
  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
}

.boxes-serv .row .boxs p {
  color: #b0b0b0;
  font-size: 12.3px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.boxes-serv .row .boxs button {
  width: 120px;
  height: auto;
  padding: 7px;
  background-color: #1370fa;
  color: #fff;
  margin-top: 16px;
  border: 1px solid #1370fa;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

@media (min-width: 1200px) {

  .services-feedback .model .heading {
    margin: 5px 5px 0px 20px;
  }

  .services-feedback .model .heading p {
    font-size: 14px;
  }

  .services-feedback .model {
    padding: 10px;
  }

  .services-feedback .model .heading h4 {
    font-size: 14px;
  }

  .services-feedback .model .heading h2 {
    font-size: 28px
  }
  .boxes-serv{
    margin-top: 20px;
  }

}

@media (min-width: 993px) and (max-width: 1200px) {


  .services-feedback {
    padding: 5px;

  }

  .services-feedback .model .heading {
    margin: 10px 10px 5px 30px;
  }

  .services-feedback .model {
    width: 70%;
    padding: 10px;
  }

  .services-feedback .feedback {
    width: 30%;
  }

  .services-feedback .model .heading h4 {
    font-size: 1.1rem;
  }

  .services-feedback .model .heading h2 {
    font-size: 30px;
    line-height: 1;
  }

  .services-feedback .model .heading p {
    font-size: 13px;
    margin-top: 18px;
  }


  .boxes-serv .row {

    margin-top: 5px;
  }

  .boxes-serv .row .boxs {
    margin: 10px 20px 5px 20px;
    padding: 10px;

  }

  .boxes-serv .row .boxs i {
    font-size: 40px;

  }

  .boxes-serv .row .boxs h2 {
    font-size: 16px;
    text-transform: uppercase;

  }

  .boxes-serv .row .boxs p {

    font-size: 12px;
    padding: 10px;
  }

  .boxes-serv .row .boxs button {
    width: 130px;
    height: auto;
    padding: 12px;
    background-color: #1370fa;
    color: #fff;
    margin-top: 16px;
    border: 1px solid #1370fa;
    border-radius: 20px;
    font-size: 13px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .services-feedback {
    flex-wrap: wrap;
    padding: 8px;
  }

  .services-feedback .model {
    width: 100%;
    height: 100%;
    padding: 10px;

  }

  .services-feedback .feedback {
    width: 100%;
    height: auto;
    margin: 40px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .services-feedback {
    flex-wrap: wrap;
    padding: 8px;
  }

  .services-feedback .model {
    width: 100%;
    height: 100%;
    padding: 10px;

  }

  .services-feedback .feedback {
    width: 100%;
    height: auto;
    margin: 40px;


  }
 
}

@media (max-width:576px) {
  .services-feedback {
    flex-wrap: wrap;
    height: auto;
    padding: 5px;
    display: flex;
  }

  .services-feedback .boxs {
    margin-top: 15px;
  }

  .services-feedback .model {
    width: 100%;
    height: 100%;
    padding: 5px;

    order: 1;

  }

  .services-feedback .feedback {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 40px;
    order: 2;

  }

  .boxes-serv .row {
    flex-wrap: wrap;
  }
  .boxes-serv .row .boxs p {
    color: #b0b0b0;
    font-size: 11px;

  }
  .services-feedback .model .heading p {
    font-size: 12px;
  }
  .services-feedback .model .heading h4 {
    font-size: 15px;
  }

  .services-feedback .model .heading h2 {
    font-size: 23px
  }
}