p{
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
  background:#0e1a2b;
}
.sidebar{
  width: 3%;
height: 100%;

z-index: 10;

}
.drawer{
 overflow: auto;
  width: 97%;
 height: 100vh;

}

@media (min-width: 993px) and (max-width: 1200px) {
  .sidebar{
    width: 3%;
  height: 100%;
  
  z-index: 10;
  
  }
  .drawer{
   overflow: auto;
    width: 97%;
   height: 100vh;
  
  }
}


@media (min-width: 769px) and (max-width: 992px) {
  .sidebar{
    width: auto;

  }
  .drawer{
   overflow: auto;
    width: 100%;
    }
}
@media (min-width: 577px) and (max-width: 768px){
  .sidebar{
    width: auto;

  }
  .drawer{
   overflow: auto;
    width: 100%;
    }
}

@media  (max-width: 576px) {
  .drawer{
    width: auto;
   height: 100vh;
   overflow-y: auto;
    /* background: white; */
    background:linear-gradient(135deg,#1A2B48,#0D0D0D );
  
  }
  .sidebar{
  z-index: 500;
    width: 20%;
  }
  .main{
  
    background:#0e1a2b;
  }
}